*{
    background-color: black;
}
.qua1{
    
    border-style: solid; color: rgb(207, 12, 12);
    margin-left: 19%;
    margin-right: 3%;
}

.qua2{
    margin-right: 3%;
    border-style: solid; color: rgb(207, 12, 12);   
}

.qua3{
    margin-right: 3%;
    border-style: solid; color: rgb(207, 12, 12);   
}

.qua4{
    
    border-style: solid; color: rgb(207, 12, 12);  
}

.logo{
     position: right = 0;
}
.xac{
    margin-top: 3%;
    margin-left: 47%;
}